@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  /* background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb)); */
    /* background-color: rgba(250, 239, 210, 0.1); */
    background-image: linear-gradient(to right, rgba(250, 239, 210, 0.3), rgba(242, 168, 162, 0.3));
}
